$normal-color: #a8a878;
$fire-color: #f08030;
$water-color: #6890f0;
$grass-color: #78c850;
$electric-color: #f8d030;
$ice-color: #98d8d8;
$fighting-color: #e57373;
$poison-color: #a040a0;
$ground-color: #e0c068;
$flying-color: #a890f0;
$psychic-color: #f85888;
$bug-color: #a8b820;
$rock-color: #b8a038;
$ghost-color: #705898;
$dark-color: #705848;
$dragon-color: #afafaf;
$steel-color: #b8b8d0;
$fairy-color: #ee99ac;

$type-colors: (
  normal: $normal-color,
  fire: $fire-color,
  water: $water-color,
  grass: $grass-color,
  electric: $electric-color,
  ice: $ice-color,
  fighting: $fighting-color,
  poison: $poison-color,
  ground: $ground-color,
  flying: $flying-color,
  psychic: $psychic-color,
  bug: $bug-color,
  rock: $rock-color,
  ghost: $ghost-color,
  dark: $dark-color,
  dragon: $dragon-color,
  steel: $steel-color,
  fairy: $fairy-color,
);

@each $type, $color in $type-colors {
  .#{$type}-type {
    background-color: $color;
    color: #fff;
  }
}

.box {
  &,
  & * {
    box-sizing: border-box;
    transition: 400ms;
  }
  width: 100%;
  height: 320px;
  max-width: 350px;
  margin-top: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-imgBox {
    img {
      display: block;
      width: 200px;
      height: auto;
      transform: rotate(5deg);
    }
  }
}

.box-imgBox img:hover {
  transform: translate(-10px, -25px) rotate(-5deg) scale(1.2);
  z-index: 1;
}

.favorite-button {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.pokeId {
  text-align: left;
  margin-top: 10px;
  color: #838383;
  font-size: 14px;
}

.pokeName {
  text-align: center;
  font-size: 25px;
}

.boxTypes {
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.boxTypes h5 {
  padding: 2px 15px;
  border-radius: 10%;
  border-end-start-radius: 20%;
  border-start-end-radius: 20%;
}
