<div class="box">
  <div class="box-card">
    <div class="list">
      <div class="card-conteiner" *ngFor="let pokemon of displayedPokemon">
        <button class="delete-button" (click)="delete(pokemon)">X</button>
        <app-pokecard [pokemonInfo]="pokemon"></app-pokecard>
      </div>
    </div>
    <div class="mat-paginator-conteiner">
      <mat-paginator
        [length]="favoritedPokemon.length"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
