.icon{
    max-width: 25px;
}

ion-tab-bar {
    --ion-color-base: var(--ion-color-black);
    --ion-color-contrast: var(--ion-color-black-contrast);
    --ion-color-shade: var(--ion-color-black-shade);
    --ion-color-tint: var(--ion-color-black-tint);
  }

  ion-tab-button {
    color: var(--ion-color-gray);
  }