<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button class="button" tab="tab1" href="/tabs/tab1">
      <img class="icon" src="../../assets/icon/pokeball-icon-white.png" />
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <img class="icon" src="../../assets/icon/square-pokeball-white.png" />
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <img class="icon" src="../../assets/icon/github-mark-white.png" />
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
