<ion-content [fullscreen]="true">
  <div class="about-content">
    <div class="about-wrapper">
      <img src="../../assets/icon/pokeball icon.png" />
      <h2>Bem-vindo à Pokedex!</h2>
      <p>
        Este é um projeto desenvolvido por João Victor J. Torres em resposta ao
        desafio proposto pela BSN Tecnologia. Minha missão é proporcionar aos
        treinadores Pokémon uma ferramenta ágil e completa para explorar as
        diversas espécies de Pokémon.
      </p>

      <p>
        A Pokedex foi construída utilizando a combinação de Ionic e Angular,
        oferecendo uma experiência fluida e responsiva tanto em dispositivos
        móveis quanto em desktops. Aqui, você encontrará informações detalhadas
        sobre cada Pokémon.
      </p>

      <p>
        Fique à vontade para explorar e mergulhar no fascinante mundo dos
        Pokémon! Se você estiver interessado em contribuir ou verificar o
        código-fonte, confira meu repositório no GitHub
        <a
          href="https://github.com/joaovictorjtorres/Pokedex-Ionic"
          target="_blank"
          >aqui</a
        >.
      </p>

      <p>Divirta-se!</p>
    </div>
  </div>
</ion-content>
