/* Estilo para o conteúdo da página */
.about-content {
    padding: 20px;
  }
  
  /* Estilo para o wrapper do conteúdo */
  .about-wrapper {
    text-align: center;
    max-width: 100%; /* Garante que o conteúdo não ultrapasse a largura máxima da tela */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  }
  
  /* Estilo para a imagem do ícone do Pokeball */
  .about-wrapper img {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Estilo para o título "Bem-vindo à Pokedex!" */
  .about-wrapper h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Estilo para os parágrafos de texto */
  .about-wrapper p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
  }
  
  /* Estilo para o link do GitHub */
  .about-wrapper a {
    color: #007bff; /* Azul padrão do Bootstrap */
    text-decoration: none;
    font-weight: bold;
  }
  
  .about-wrapper a:hover {
    text-decoration: underline;
  }
  
  /* Mídia para adicionar margens laterais quando a largura for maior que 500px */
  @media (min-width: 500px) {
    .about-wrapper {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  @media (min-width: 1000px) {
    .about-wrapper {
      margin-left: 200px;
      margin-right: 200px;
    }
  }
  