.box{
    background-image: url('../../../assets/BW_stripes.jpg');
    background-attachment: fixed;


}

.list{
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

ion-searchbar {
    margin-top: 10px;
    margin-right: 7px;
    padding: 0;
    right: 15px;
    max-width: 300px;
    position: fixed;
    z-index: 1;
  }

.custom-modal {
    --background: rgba(0, 0, 0, 0.75);
    --border-radius: 15px;
    --max-width: 500px;
    --margin: auto;
    --padding: 20px;
  }

  @media (min-width: 1175px) {
    .list {
        margin: 0 100px;
    }
}

@media (min-width: 1200px){
    .list {
        margin: 0 200px;
    }
}

@media (max-width: 700px){
    ion-searchbar {
        left: 1px;
        max-width: 700px;
      }
}