<div class="box" >

    <div class="list">
        <app-pokecard *ngFor="let item of pokemonList"
        [pokeName]="item.name.charAt(0).toUpperCase() + item.name.slice(1).toLowerCase()"
        [pokeId]="item.id.toString().padStart(4, '0')"
        [pokeImage]="item.sprites.other['official-artwork'].front_default"
        [pokeTypes]="getTypes(item)"
        (click)="openModal(item)"></app-pokecard>
    </div>

    <app-pokemodal
    [isModalOpen]="isModalOpen"
    [selectedPoke]="selectedPoke"
    (isModalOpenChange)="isModalOpen=$event">
    </app-pokemodal>

</div>