<div class="box">
    <ion-searchbar animated="true" (ionInput)="filterItems($event)"></ion-searchbar>
    <div class="box-card">
        <div class="list">
            <app-pokecard *ngFor="let item of filteredPokemon" [pokemonInfo]="item"></app-pokecard>
            <ion-infinite-scroll (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Load more pokémon...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>  
</div>